{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ movie.image }}" alt="{{ movie.title }}" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h3 class="text-center">
                        {{ movie.title }}
                    </h3>
                    <br>
                    <a href="{% url 'main:edit_movie' movie.movie_id %}" class="btn btn-warning">Edit Movie</a>
                    <a href="{% url 'main:delete_movie' movie.movie_id %}" class="btn btn-danger">Delete Movie</a>
                    <br>
                    <br>
                    <h5>Summary</h5>
                    <p>{{ movie.summary }}</p>
                    <h5>Budget: {{ movie.budget }}$</h5>
                    <h5>Revenue: {{ movie.revenue }}$</h5>
                    <h5>Runtime: {{ movie.runtime }} hrs</h5>
                    <h5>Language: {{ movie.language }}</h5>
                    <h5>Rating: {{ movie.avg_rank }}</h5>
                    <br>
                    <h6>Keywords: </h6>
                    {% for keyword in keywords %}
                    <li>{{ keyword.keyword_name }}</li>
                    {% if user.is_superuser %}
                    <a href="{% url 'main:edit_keywords' movie.movie_id keyword.keyword_id %}">Edit</a>
                    <a href="{% url 'main:delete_keywords' movie.movie_id keyword.keyword_id %}">Delete</a>
                    {% endif %}
                    {% endfor %}
                    <h7>Genres: </h7>
                    {% for genre in genres %}
                    <li>{{ genre.genre }}</li>
                    {% if user.is_superuser %}
                    <a href="{% url 'main:edit_genre' movie.movie_id genre.genre_id %}">Edit</a>
                    <a href="{% url 'main:delete_genre' movie.movie_id genre.genre_id %}">Delete</a>
                    {% endif %}
                    {% endfor %}
                    <h8>Awards: </h8>
                    {% for k, v in awards.items %}
                    <li>{{ k.award_name }}: {{ v.category_name }}</li>
                    {% if user.is_superuser %}
                    <a href="{% url 'main:edit_award_and_category' movie.movie_id k.award_id v.category_id %}">Edit</a>
                    <a href="{% url 'main:delete_award_and_category' movie.movie_id k.award_id v.category_id %}">Delete</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Reviews</h3>
            <ul>
                {% for review in reviews %}
                <li>{{ review.review }} <i>--{{ review.user_id}}</i></li>
                {% if request.user == review.user_id %}
                <a href="{% url 'main:edit_review' movie.movie_id review.id %}">Edit</a>
                <a href="{% url 'main:delete_review' movie.movie_id review.id %}" onclick="return confirm('Are you sure you want to delete this review?');">Delete</a>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Add Review</h3>
            <form action="{% url 'main:add_review' movie.movie_id %}" method="POST">
                {% csrf_token %}
                <label for="review">Review</label>
                <textarea name="review" id="review" cols="30" rows="10" class="form-control"></textarea>
                <br>
                <input type="submit" class="btn btn-danger" value="Add Review">
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Soundtracks</h3>
            <ul>
                {% for soundtrack in soundtrack %}
                    <li>{{ soundtrack.soundtrack_name }}</li>
                    <a href="{% url 'main:edit_soundtrack' movie.movie_id %}" class="btn btn-warning">Edit Soundtrack</a>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if user.is_superuser %}
    <br>
    <div class="container">
        <button>Add release date</button>
        <button>Add Genre</button>
    {% endif %}
    </div>
</div>

{% endblock %}