{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ movie.image }}" alt="{{ movie.name }}" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <h3 class="text-center">
                        {{ movie.title }}
                    </h3>
                    <h5>Director: {{movie.title}}</h5>
                    <h5>Cast: {{movie.title}}</h5>
                    <h5>Rating: {{movie.title}}</h5>
                    <p>{{ movie.title }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_superuser %}
    <br>
    <div>
        <button>Add release date</button>
        <button>Add genre</button>
    </div>
    {% endif %}
</div>

{% endblock %}